.div-gen{
  border-radius: 15px;
  padding: 20px;
  background-color: white;
}
/* Applied when the input value is valid */
form {
    background-color: white !important;
    display: flex;
    flex-direction: column;
   
}
.ng-valid {
  background-color: rgb(36, 192, 36, 0.3);
}

/* Applied when the input value is invalid */
.ng-invalid {
  /* CSS styles for invalid input */
  background-color: rgba(250, 2, 2, 0.3);
}

/* Applied when the input element has been touched by the user */


/* Applied when the input element is in its initial state (no user interaction) */
.ng-pristine {
    background-color: white;
  
}

.alert{
    color: red;
}