<div class="div-gen">
  <img [src]="product.image" alt="product image" />
  <div class="div-details">
    <div class="return"><button onclick="goToBaseUrl()">Return</button></div>
    <h1>{{ product.name }}</h1>
    <h2>{{ product.description }}</h2>
    <p>{{ product.publicationDate | date }}</p>
    <p>{{ product.city }}</p>
    <p>{{ product.phoneNumber }}</p>
    <div class="price">
      <h3>
        {{ currency ? (product.price | currency) : product.price + " ILS" }}
      </h3>
      <button (click)="changeCurrency()">Show Price in {{ !currency ? "USD" : "ILS" }}</button>
    </div>
    <div class="buy"><a [routerLink]="'/delete/' + product.id">Buy</a></div>
  </div>
</div>
