<div class="row">
  <div class="img">
    <img [src]="product.image" alt="product image" style="width: 100%" />
  </div>
  <div class="container">
    <h2>{{ product.name }}</h2>
    <p class="date">{{ product.publicationDate | date }}</p>
    <div class="btns">
      <div>
        <p><a class="button" [routerLink]="'/delete/' + product.id">Buy</a></p>
      </div>
      <div>
        <p>
          <a class="button" [routerLink]="'/details/' + product.id">Details</a>
        </p>
      </div>
    </div>
  </div>
</div>
